<div class="container">
    <div class=" row mb-3">
        <h3> App Escola </h3>
    </div>
    <h4>#1 Turma </h4>
    <div class="row">
        <div class="col-11 mt-3">
            <input type="text" class="form-control" placeholder="Digite o nome do aluno" />
        </div>
        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary">🔍</button>
        </div>
    </div>
</div>


<div class="container">
    <ul class="list-group mt-5">

        @{
            var alunos = new List<AlunoModel>();
            alunos.Add(new AlunoModel(1, "Willian", "Sant Anna", "Reprovado"));
            alunos.Add(new AlunoModel(2, "Thiago", "Machado", "Aprovado"));
            alunos.Add(new AlunoModel(3, "Rodrigo", "Braga", "Aprovado"));
            alunos.Add(new AlunoModel(4, "Caroline", "da Silva", "Recuperação"));

        }


        <li class="list-group-item">
            <div class="row fw-bold">
                <div class="col-1">
                    #
                </div>
                <div class="col">
                    Nome
                </div>
                <div class="col">
                    Sobrenome
                </div>
                <div class="col">
                    Status
                </div>

            </div>

        </li>
        @foreach (var Aluno in alunos)
        {
            string cor = "";
            if (Aluno.Status == "Reprovado")
            {
                cor = "bg-danger";
            }
            else if (Aluno.Status == "Aprovado")
            {
                cor = "bg-light";
            }
            else
            {
                cor = "bg-warning";
            }


            <li class="list-group-item">
                <div class="row @cor bg-opacity-25">

                    <div class="col-1 fw-bold">
                        @Aluno.Id
                    </div>

                    <div class="col">
                        @Aluno.Nome
                    </div>
                    <div class="col">
                        @Aluno.Sobrenome
                    </div>
                    <div class="col">
                        @Aluno.Status
                    </div>
                </div>
            </li>
        }
    </ul>
</div>